<div class="container-fluid" id="chatbox">
    <section id="heading">
        <h5>Chat</h5>
    </section>
    <section id="chat-messsage-list">
        <ul id="text-list">
            <li class="Othermessage">
                <span>
                    Other Message
                </span>
            </li>
            <li class="selfmessage">
                <span>
                    Self Message
                </span>
            </li>
        </ul>
    </section>
    <section id="chat-send-form">
        <input id="messege-text" class="form-control" type="text" placeholder="Type Your Message">
        <button class="btn btn-outline-info" type="button"> <img src="/assets/images/send.png" alt="send button icon"> </button>
    </section>
</div>
