<div class="row row-cols-1" id="posts">
    <div class="col text-start" id="name-col">
        <%= post.user.name %>
    </div>
    <div class="col" id="post-col">
        <%= post.content %>
    </div>

    <!-- Displaying post interaction option only to the logged in user -->
    <% if(locals.user) { %>
        <div class="col" id="like-share">
            <span class="m-2"><a href="#">Like</a></span>
            <span class="m-2"><a href="#">Share</a></span>

            <!-- Displaying Delete Option only to the Creator of the post -->
            <% if(locals.user.id == post.user.id) { %>
                <span class="m-2"><a href="/posts/destroy/<%= post._id %>">Delete</a></span>
            <% } %>
        </div>
    <% } %>

    <%- include('comment') %>
</div>