<div class="mx-auto d-block w-25 p-3 user-forms">
    <h4>Enter Your Email</h4>
    <form action="/user/resetpasswordlink" method="POST">
        <div class="mb-3">
            <label for="InputEmail3" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="InputEmail3" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>