<div id="home-container" class="container-fluid">

    <section id="feed-post">

        <!-- Post Form -->
        <% if(locals.user) { %>
            <div class="container mx-auto d-block w-50 p-3 user-forms">
                <form action="/posts/create" id="create-post-form" method="post">
                    <div class="mb-3">
                        <label for="Textarea1" class="form-label">Post</label>
                        <textarea class="form-control" name="content" id="Textarea1" rows="3" placeholder="Type here"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Create Post</button>
                </form>
            </div>
        <% } %>
        
        <!-- Displaying user Posts -->
        <div class="container text-center" id="posts-container">
            <ul>
                <% for(post of posts) { %>
                    <%- include('partials/posts') %>
                <% } %>
            </ul>
        </div>
    </section>

     <!-- Only visible to logged in users -->
     <% if(locals.user) { %>
        <!-- Friends -->
        <section id="user-friends">
            <ul>
                <h4>Users</h4>
                <% for(u of all_users) { %> 
                    <li>
                        <i class="fa-solid fa-circle-dot"></i>
                        <a href="/user/profile/<%= u.id %>"><%= u.name %></a>
                    </li>
                <% } %>
            </ul>

            <div id="chatbox">
                <%- include('partials/chatbox') %>
            </div>
        </section>
    <% } %>
</div>
<script src="/js/commentData.js"></script>
<script src="/js/postdata.js"></script>

<!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="/js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>

   