<div class="mx-auto d-block w-25 p-3 user-forms">
  <h4>Sign In</h4>
    <form action="/user/create_session" method="POST">
        <div class="mb-3">
          <label for="InputEmail1" class="form-label">Email address</label>
          <input type="email" name="email" class="form-control" id="InputEmail1" required>
        </div>
        <div class="mb-3">
          <label for="InputPassword1" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="InputPassword1" required>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="Check1">
          <label class="form-check-label" for="Check1">Remember Me</label>
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
      </form>
</div>