<div class="mx-auto d-block w-25 p-3 user-forms">
    <h4>Reset Password</h4>
      <form action="/user/updatePassword/<%= resetPassToken %>" method="POST" class="needs-validation">
          <div class="mb-3">
            <label for="InputPassword1" class="form-label">Enter New Password</label>
            <input type="password" name="password" class="form-control" id="InputPassword1" required>
          </div>
          <div class="mb-3">
              <label for="InputConfirmPassword1" class="form-label">Confirm Password</label>
              <input type="password" name="confirm_password" class="form-control" id="InputConfirmPassword1" required>
          </div>
          <button type="submit" class="btn btn-primary">Reset</button>
        </form>
  </div>