<div style="background-color: honeydew;">
    <p>Hi! <%= comment.user.name %> &nbsp; <img style="width: 15px; height: 15px;" src="<%= comment.user.avatar %>" alt="<%= comment.user.name %> Avatar "></p>
    <br>
    <br>
    <br>
    <p>Your comment <strong><%= comment.content %></strong> is now published</p>
    <br>
    <br>
    <br>
    <p>Thanks</p>
</div>