@import "modules/mixin";

#home-container {
    display: flex;

    section {
   
      &#feed-post {
        /* Post Section */ 
        @include basic-margin-padding;

        .user-forms {
            /* Using pseudo classes to control the width */
          & {
            width: 70%; //width for logged in users
          }
        }
        &:not(.user-forms) {
          width: 100%;      //width for logged out users since friend section is not visible
        }
      }

      &#user-friends {
        width: 30%;         //width for logged in users
        border-left: 1px solid darkgray;
        @include basic-margin-padding;

        //User List style
        #user-list{
            list-style: none;
            position: fixed;
            
            a{
              color: rgb(110, 4, 110);
              text-decoration: none;
            }
            i{
                color: darkcyan;
            }
        }
      }
    }
  }
  